<div *ngFor="let characterGroup of charactersInfo">

  <h1 class="full-width center">{{characterGroup.label}}</h1>

  <div class="container">
    <div *ngFor="let character of characterGroup.characters" class="character-item grid">
      <div class="center full-width">
        <h4 class="character-name center full-width">
          {{character.name}} <ng-container *ngIf="character.gender">({{character.gender}})</ng-container>
        </h4>
        <span *ngIf="character.species">Species: {{character.species}}</span>
        <img *ngIf="character.photo" class="image" src="./../../../../assets/images/characters/{{character.photo}}">

        <div>
          {{character.physicalDescription}}
        </div>
      </div>
    </div>
  </div>
</div>