<div *ngFor="let characterGroup of charactersInfo">

  <h1 class="full-width center">{{characterGroup.label}}</h1>

  <div class="container">
    <div *ngFor="let character of characterGroup.characters" class="character-item grid">
      <div class="center full-width">
        <h4 class="character-name center full-width">
          {{character.name}} <ng-container *ngIf="character.gender">({{character.gender}})</ng-container>
        </h4>
        <div *ngIf="character.label1" class="italics">{{character.label1}}</div>
        <div *ngIf="character.label2" class="italics">{{character.label2}}</div>
        <div *ngIf="character.label3" class="italics smaller-font">{{character.label3}}</div>
        <div *ngIf="character.species" class="small-font">Species: {{character.species}}</div>
        <img *ngIf="character.photo" class="image" src="assets/images/characters/{{character.photo}}">

        <div>
          {{character.description}}
        </div>
      </div>
    </div>
  </div>
</div>