@import "../../styles.scss";

.episode-class-container {
  padding: 6px 14px;
  margin: 0 13px;
  border-radius: 6px;
}

#best-of-episodes-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#great-container {
  background-color: $green;
}

#good-container {
  background-color: $blue;
}

#alright-container {
  background-color: $yellow;
}

#bad-container {
  background-color: $red;
}

.ranked-index-number {
  font-size: 0.6em;
  font-style: italic;
}
