@import "../../styles.scss";

#best-of-episodes-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.ranked-episode-item {
  color: $darkest-gray;
}

.ranked-index-number {
  font-size: 0.6em;
  font-style: italic;
}
