<h1>
  Star Wars Canon Book Reviews
</h1>

<div class="book-note">
  Note: If you like a character, you will most likely like their book! If you're a Phasma fan, check out her book! I
  definitely noticed if I was not a big fan of Tarkin, that book might have ranked a little lower than it already is!
</div>

<div class="book-note">
  Note 2: This list changes very often. Sometimes I recall a certain scene from a book that sways my initial opinion of
  it. I consider my most recent recollection of the book more significant than my initial thoughts since I think the
  lasting impact is more important than what I first thought.
</div>

<div class="grid">
  <app-book-section [rankingClass]="'great'" [booksList]="bestCanonBooks">
  </app-book-section>

  <app-book-section [rankingClass]="'good'" [booksList]="goodCanonBooks">
  </app-book-section>

  <app-book-section [rankingClass]="'alright'" [booksList]="alrightCanonBooks" [headerClass]="'dark-gray-text'">
  </app-book-section>

  <app-book-section [rankingClass]="'bad'" [booksList]="badCanonBooks">
  </app-book-section>
</div>