<h2>
  Star Wars Canon Book Reviews
</h2>

<div class="book-note">
  Note: If you like a character, you will most likely like their book! If you're a Phasma fan, check out her book! I
  definitely noticed if I was not a big fan of Tarkin, that book might have ranked a little lower than it already is!
</div>

<div class="book-note">
  Note 2: This list changes very often. Sometimes I recall a certain scene from a book that sways my initial opinion of
  it. I consider my most recent recollection of the book more significant than my initial thoughts since I think the
  lasting impact is more important than what I first thought.
</div>

<div class="grid">
  <div class="ranking-class-container great-container">
    <h4 class="center">Great</h4>
    <div class="book-container" *ngFor="let book of bestCanonBooks; let index = index">
      <div class="rank-index">{{index + 1}}</div>
      <div class="center">
        <h4>
          {{book.name}}
        </h4>
        <img class="book-image" src="assets/images/{{book.fileName}}">
        <div>
          <h4>Pros</h4>
          <p class="left">
            {{book.pros}}
          </p>
        </div>
        <div>
          <h4>Cons</h4>
          <p class="left">
            {{book.cons}}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="ranking-class-container good-container">
    <h4 class="center">Good</h4>
    <div class="book-container" *ngFor="let book of goodCanonBooks; let index = index">
      <div class="rank-index">{{index + 1}}</div>
      <div class="center">
        <h4>
          {{book.name}}
        </h4>
        <img class="book-image" src="assets/images/{{book.fileName}}">
        <div>
          <h4>Pros</h4>
          <p class="left">
            {{book.pros}}
          </p>
        </div>
        <div>
          <h4>Cons</h4>
          <p class="left">
            {{book.cons}}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="ranking-class-container alright-container">
    <h4 class="center">Alright</h4>
    <div class="book-container" *ngFor="let book of alrightCanonBooks; let index = index">
      <div class="rank-index">{{index + 1}}</div>
      <div class="center">
        <h4>
          {{book.name}}
        </h4>
        <img class="book-image" src="assets/images/{{book.fileName}}">
        <div>
          <h4>Pros</h4>
          <p class="left">
            {{book.pros}}
          </p>
        </div>
        <div>
          <h4>Cons</h4>
          <p class="left">
            {{book.cons}}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="ranking-class-container bad-container">
    <h4 class="center">Bad</h4>
    <div class="book-container" *ngFor="let book of badCanonBooks; let index = index">
      <div class="rank-index">{{index + 1}}</div>
      <div class="center">
        <h4>
          {{book.name}}
        </h4>
        <img class="book-image" src="assets/images/{{book.fileName}}">
        <div>
          <h4>Pros</h4>
          <p class="left">
            {{book.pros}}
          </p>
        </div>
        <div>
          <h4>Cons</h4>
          <p class="left">
            {{book.cons}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>