<div class="grid" id="clone-wars-container">
  <div class="grid" id="clone-wars-text-container">
    <div class="inline-block" id="clone-wars-description">
      <h1>Clone Wars</h1>
      <p>Below is a table with every episode of the Clone Wars, including the movie. It is sorted by my own personal
        ranking</p>
      <p>Each season is color-coded according to the key to the right, going from red to purple.</p>
      <p>The ranking sorts each individual episode based off my own personal opinion. I compared every single episode
        against each other and ended up with this list.</p>
      <p>Feel free to sort the table out by Season, Name, Rank, Release Order, or Chronological Order! By changing these
        rankings, you're able to visualize when the Clone Wars was the best (IMO) by release date or chronologically.
      </p>
      <p>There is also a link to watch any of these CW episodes if you have a Disney + account! Click on the icon at the
        right to open it up there!</p>
    </div>

    <div class="inline-block" id="clone-wars-key">
      <h4>Seasons</h4>
      <p class="season-key-label season-1">Season 1</p>
      <p class="season-key-label season-2">Season 2</p>
      <p class="season-key-label season-3">Season 3</p>
      <p class="season-key-label season-4">Season 4</p>
      <p class="season-key-label season-5">Season 5</p>
      <p class="season-key-label season-6">Season 6</p>
      <p class="season-key-label season-7">Season 7</p>
    </div>
  </div>

  <div class="center">
    <img class="center" id="clone-wars-logo" src="assets/images/clone wars.png">
  </div>
</div>

<div id="clone-wars-filter">
  <select (change)="filterTable($event)">
    <option [value]="null"></option>
    <option *ngFor="let tag of tags" [value]="tag.id">{{tag.name}}</option>
  </select>
  {{tableData.length}} Episodes
</div>

<app-table [columns]="tableColumns" [tableData]="tableData">
</app-table>