@import "../../../styles.scss";

#clone-wars-container {
  grid-template-columns: 1fr 1fr;
  margin-bottom: 33px;
}

#clone-wars-text-container {
  grid-template-columns: 1fr 103px;
  padding: 5px 15px;
}

#clone-wars-description {
  padding: 5px 15px;
}

#clone-wars-description-logo {
  width: 70%;
  max-width: 1000px;
}

#clone-wars-filter {
  margin-bottom: 10px;
}
