<ng-container *ngIf="!loading">
  <div class="grid">
    <div #home class="main-page-section" id="landing-section"></div>

    <div #books class="main-page-section" id="books-section">
      <app-books></app-books>
    </div>

    <div #cloneWars class="main-page-section" id="clone-wars-review-section">
      <app-clone-wars-review></app-clone-wars-review>
    </div>

    <div #chronological class="main-page-section" id="clone-wars-chronological-section">
      <app-clone-wars-chronological></app-clone-wars-chronological>
    </div>

    <div #rebelsReview class="main-page-section" id="rebels-review-section">
      <app-rebels-review></app-rebels-review>
    </div>

    <div #rotsExtended class="main-page-section grid" id="rots-extended-section">
      <div>
        <h1>Revenge of the Sith + CW Order 66 Arc</h1>
        This is a passion project of mine. I cut together the events of Revenge of the Sith with the Clone Wars Season 7
        Episodes 9-12. It took me 40 hours of planning, capturing, and editing to complete this. I hope you enjoy!
      </div>
      <iframe src="https://drive.google.com/file/d/1b56VaIxCcLY98MrDBMN0UDRVbf8Hgdmt/preview" width="560" height="315"
        allowfullscreen>
      </iframe>
    </div>

    <div class="main-page-section" id="footer-section">
    </div>
  </div>

  <div class="grid" [ngClass]="{ 'preview-navbar' : previewHeader && !previewHeaderInterrupted }" id="navigation-panel"
    (mouseenter)="previewHeaderInterrupted = true">
    <img class="link icon-image" src="assets/images/icons/chevron-up.png" (click)="scroll(home)">
    <div class="link navigation-item" id="mace" (click)="scroll(home)">
      Back to Top
      <div class="lightsaber-blade"></div>
      <img class="lightsaber-hilt" src="assets/images/lightsabers/mace.png">
    </div>

    <img class="link icon-image" src="assets/images/icons/book.png" (click)="scroll(books)">
    <div class="link navigation-item" id="rey" (click)="scroll(books)">
      Books
      <div class="lightsaber-blade"></div>
      <img class="lightsaber-hilt" src="assets/images/lightsabers/rey.png">
    </div>

    <img class="link icon-image" src="assets/images/clone wars.png" (click)="scroll(cloneWars)">
    <div class="link navigation-item" id="yoda" (click)="scroll(cloneWars)">
      Clone Wars
      <div class="lightsaber-blade"></div>
      <img class="lightsaber-hilt" src="assets/images/lightsabers/yoda.png">
    </div>

    <img class="link icon-image" id="time-icon" src="assets/images/icons/clock.png" (click)="scroll(chronological)">
    <div class="link navigation-item" id="anakin" (click)="scroll(chronological)">
      Chronological CW
      <div class="lightsaber-blade"></div>
      <img class="lightsaber-hilt" src="assets/images/lightsabers/anakin.png">
    </div>

    <img class="link icon-image" src="assets/images/Rebels.png" (click)="scroll(rebelsReview)">
    <div class="link navigation-item" id="kanan" (click)="scroll(rebelsReview)">
      Rebels
      <div class="lightsaber-blade"></div>
      <img class="lightsaber-hilt" src="assets/images/lightsabers/kanan.png">
    </div>

    <img class="link icon-image" src="assets/images/icons/video.png" (click)="scroll(chronological)">
    <div class="link navigation-item" id="maul" (click)="scroll(rotsExtended)">
      RotS Extended Cut
      <div class="lightsaber-blade"></div>
      <img class="lightsaber-hilt" src="assets/images/lightsabers/maul.png">
    </div>
  </div>
</ng-container>
