<div class="grid">
  <div class="main-pgae-section" id="landing-section">
    <h2>Jeffapotamous' Star Wars Reviews</h2>
  </div>

  <div class="main-pgae-section" id="books-section">
    <app-books></app-books>
  </div>

  <div class="main-pgae-section" id="clone-wars-review-section">
    <app-clone-wars-review></app-clone-wars-review>
  </div>

  <div class="main-pgae-section" id="clone-wars-chronological-section">
    <app-clone-wars-chronological></app-clone-wars-chronological>
  </div>
</div>
