@import "../styles.scss";

.main-pgae-section {
  padding: 50px;
}

.grid {
  display: grid;
}

#landing-section {
  // background-color: $dark-gray;
}

#books-section {
  background-color: $light-gray;
}

#clone-wars-review-section {
  background-color: $gray;
  // background-color: $dark-gray;
}

#clone-wars-chronological-section {
  background-color: $dark-gray;
}
