$black: #000000;
$white: #ffffff;
$darkest-gray: #121212;
$dark-gray: #1f1f1f;
$gray: #2b2b2b;
$light-gray: #424242;
$light-white: #c2c2c2;

$blue: #058ba2;
$green: #388104;
$purple: purple;
$yellow: #c9b40b;
$red: #b72f2f;
$orange: orange;

$theme-1: #519872;
$theme-2: #a53860;
$theme-3: #160f29;
$theme-4: #0094c6;
$theme-5: #816e94;

/* ----- Globals ----- */
@font-face {
  font-family: mavenlight300;
  src: url("./assets/fonts/MavenProLight-300.otf") format("opentype");
}

@font-face {
  font-family: quicksand;
  src: url("./assets/fonts/Quicksand-Regular.ttf") format("opentype");
}

body {
  margin: 0;
  background-color: $darkest-gray;
  color: $light-white;
  font-family: "quicksand";
}

h1 {
  font-family: "mavenlight300";
}

a {
  transition: 200ms linear color;

  &:link {
    color: #3a0a65;
  }

  &:visited {
    color: #700000;
  }

  &:hover {
    color: blue;
  }

  &:active {
    color: yellow;
  }
}

/* ----- Utils ----- */
.grid {
  display: grid;
}

.inline-block {
  display: inline-block;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.full-width {
  width: 100%;
}

.italics {
  font-style: italic;
}

.small-font {
  font-size: 0.8em;
}

.smaller-font {
  font-size: 0.7em;
}

.white-text {
  color: $white;
}

.dark-gray-text {
  color: $dark-gray;
}

.link {
  cursor: pointer;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.icon-image {
  max-height: 35px;
  max-width: 35px;
  object-fit: cover;
}

/* ----- TV ----- */
.tv-seasons-key {
  width: 103px;
  text-align: center;
}

/* ----- CW Episodes ----- */
.disney-plus-link {
  margin-left: 5px;
}

.disney-logo {
  width: 20px;
}

.episode-item {
  padding: 6px 5px;
  background-color: #606060;
}

.season-label {
  width: 90px;
}

.episode-label {
  width: 90px;
}

.season-1 {
  background-color: $red;
}

.season-2 {
  background-color: #de650a;
}

.season-3 {
  background-color: $yellow;
  color: $dark-gray;
}

.season-4 {
  background-color: $green;
}

.season-5 {
  background-color: $blue;
}

.season-6 {
  background-color: #a83b80;
}

.season-7 {
  background-color: #2f3156;
}

/* ----- Books ----- */
.book-image {
  width: 87%;
}

/* ----- Rannking ----- */
.ranking-class-container {
  display: table;
  padding: 6px 14px;
  margin-bottom: 45px;
  border-radius: 6px;
  width: calc(100% - 14px - 14px);
}

.great-container {
  background-color: $green;
}

.good-container {
  background-color: $blue;
}

.alright-container {
  background-color: $yellow;
}

.bad-container {
  background-color: $red;
}

.uncategorized-container {
  background-color: #ffffff;
  color: #a3a3a3;
}

.gradient-container {
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
  }

  &:hover::before {
    opacity: 1;
  }
}

.great-gradient-container {
  @extend .gradient-container;
  background-image: linear-gradient(to right, #0791a7, #6b016b);

  &::before {
    background-image: linear-gradient(to right, #6b016b, #0791a7);
  }
}

.good-gradient-container {
  @extend .gradient-container;
  background-image: linear-gradient(to right, #05b1ad, #288302);

  &::before {
    background-image: linear-gradient(to right, #288302, #05b1ad);
  }
}

.alright-gradient-container {
  @extend .gradient-container;
  background-image: linear-gradient(to right, #e0e320, #f00d0d);

  &::before {
    background-image: linear-gradient(to right, #f00d0d, #e0e320);
  }
}

.bad-gradient-container {
  @extend .gradient-container;
  background-image: linear-gradient(to right, #f00d0d, #6d0a79);

  &::before {
    background-image: linear-gradient(to right, #6d0a79, #f00d0d);
  }
}

.in-progress-gradient-container {
  @extend .gradient-container;
  background-image: linear-gradient(to right, #781111, #0e4b8a);

  &::before {
    background-image: linear-gradient(to right, #0e4b8a, #781111);
  }
}
