$blue: #058ba2;
$green: #388104;
$purple: purple;
$yellow: #c9b40b;
$red: #b72f2f;
$black: #000000;
$white: #ffffff;
$orange: orange;

$theme-1: #519872;
$theme-2: #a53860;
$theme-3: #160f29;
$theme-4: #0094c6;
$theme-5: #816e94;

/* ----- Globals ----- */
body {
  margin: 0;
}

a {
  transition: 200ms linear color;

  &:link {
    color: #3a0a65;
  }

  &:visited {
    color: #700000;
  }

  &:hover {
    color: blue;
  }

  &:active {
    color: yellow;
  }
}

/* ----- Utils ----- */
.grid {
  display: grid;
}

.inline-block {
  display: inline-block;
}

.center {
  text-align: center;
}

.white-text {
  color: $white;
}

/* ----- CW Episodes ----- */
.disney-plus-link {
  margin-left: 5px;
}

.disney-logo {
  width: 20px;
}

.episode-item {
  padding: 6px 5px;
  background-color: #606060;
}

.season-label {
  width: 90px;
}

.episode-label {
  width: 90px;
}

.name-label {
}

.season-1 {
  background-color: $red;
}

.season-2 {
  background-color: #de650a;
}

.season-3 {
  background-color: $yellow;
}

.season-4 {
  background-color: $green;
}

.season-5 {
  background-color: $blue;
}

.season-6 {
  background-color: #a83b80;
}

.season-7 {
  background-color: #2f3156;
}
